* {
	box-sizing: border-box;
}


body{
	background-color: dimgray;
	font-family: 'Rye', cursive;
	color: navajowhite;
	font-size: 8px;
}

.header {
	margin: 1.25em 0;
	color: rgba(255,222,173,.8);
}

/* Modal styles ---------------------*/

#game-over {
	font-size: 24px;
	text-align: center;
}

.winner {
	color: green;
}

.loser {
	color: red;
}

/* Header styles --------------------*/

h1 {
	margin: 0;
	font-size: 6em;
	text-align: center;
	font-style: bold;
}

/* Info box styles -----------------*/

.score p {
	padding: .75em;
	margin-bottom: 0;
	font-size: 1.5em;
	color: rgba(255,255,255, .9);
}

#letterInput {
	font-size: 1.5em;
	width: 35%;
	margin: 0 auto;
}

.prompt input,
.prompt button {
	margin-left: 10%;
}

.prompt input {
	color: black;
}

.prompt button {
	background-color: black;
}

/* Containers -----------------------*/

.score {
	width: 90%;
	min-width: 300px;
	height: 210px;
	margin: 0 auto;
	margin-bottom: 1em;
	background-image: url('../Wooden-Door-to-Old-Western-Bar.jpg');
	background-size: cover;
	border-radius: 2.5%;
}

.person {
	width: 90%;
	min-width: 300px;
	height: 210px;
	margin: 0 auto;
	margin-bottom: 1em;
	background-image: url('../Western background - imgur.jpg');
	background-size: cover;
	border-radius: 2.5%;
}

/* Word box -------------------------*/

.display {
	width: 90%;
	min-width: 300px;
	margin: 0 auto;
}

.word {
	margin: 1em auto;
	text-align: center;
	border: 4px solid navajowhite;
	border-radius: 10px;
}

.letter {
	font-size: 4.5em;
	margin: 0 1rem;
}

/* elements of the hanging stick figure */
.gallows-box {
	width: 90%;
	height: 100%;
	margin: auto;
	
}

/*#bottom {
	height: 10px;
	width: 50%;
	float: left;
	background-color: saddlebrown;
}*/

#post {
	height: 100%;
	width: 10px;
	float: left;
	background-color: saddlebrown;
}

#top {
	height: 10px;
	width: 48.5%;
	float: left;
	background-color: saddlebrown;
}

#rope {
	height: 15%;
	width: 10px;
	background-color: darkgoldenrod;
	margin: auto;
}

.hanging-man {
	width: 48.5%;
	max-width: 150px;
	height: 85%;
	margin: 0 auto;
}
#head {
	width: 45px;
	height: 40px;
	border-radius: 22.5px;
	background-color: tan;
	margin: auto;
}

.upper-body {
	margin: auto;
	height: 30%;
}

#mid-section {
	margin: auto;
	width: 10px;
	height: 100%;
	background-color: maroon;
	}

.lower-body {
	margin: auto;
	height: 35%;
	width: 30px;
}
#waist	{
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: royalblue;
}

#left-arm {
	float: left;
	height: 7px;
	width: 50%;
	background-color: maroon;
}

#right-arm {
	float: left;
	height: 7px;
	width: 50%;
	background-color: maroon;
}

#left-leg {
	float: left;
	height: 100%;
	width: 10px;
	background-color: royalblue;
}

#right-leg {
	float: right;
	height: 100%;
	width: 10px;
	background-color: royalblue;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Media queries --------------------*/

@media (min-width: 400px) {
	.score,
	.person {
		height: 260px;
	}
}

@media (min-width: 748px) {
	body {
		font-size: 16px;
	}

	.score,
	.person {
		width: 45%;
		height: 470px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		float: left;
	}
}

