* {
	box-sizing: border-box;
}


body{
	background-color: dimgray;
	font-family: 'Rye', cursive;
	color: navajowhite;
	font-size: 8px;
}

#title-banner {
	color: rgba(255,222,173,.8);
}

/* Modal styles ---------------------*/

#game-over {
	font-size: 24px;
	text-align: center;
}

.winner {
	color: green;
}

.loser {
	color: red;
}

/* Header styles --------------------*/

h1 {
	font-size: 6em;
	text-align: center;
	font-style: bold;
	padding-bottom: 1rem;
}

p {
	padding: 1em;
	font-size: 1.6875em;
	color: rgba(255,255,255, .9);
}

#letterInput {
	font-size: 1.5em;
	width: 120px;
	margin: 0 auto;
}

input {
	margin: auto;
}

button {
	margin: auto; 

}

.score {
	width: 90%;
	margin: 0 auto;
	background-image: url('../Wooden-Door-to-Old-Western-Bar.jpg');
	background-size: cover;
	color: white;
}

.person {
	width: 90%;
	margin: 0 auto;
	background-image: url('../Western background - imgur.jpg');
	background-size: cover;
}

.display {
	width: 90%;
	margin: 0 auto;
}

.word {
	margin: 20px auto;
	text-align: center;
	border: 4px solid navajowhite;
	border-radius: 10px;
}

.letter {
	font-size: 6em;
	margin: 0 5px;
}

/* elements of the hanging stick figure */
.gallows-box {
	height: 380px;
	width: 90%;
	margin: auto;
}

#bottom {
	height: 5%;
	width: 50%;
	background-color: saddlebrown;
}

#post {
	height: 95%;
	width: 10px;
	float: left;
	background-color: saddlebrown;
}

#top {
	height: 10px;
	width: 48.5%;
	float: left;
	background-color: saddlebrown;
}

#rope {
	height: 40px;
	width: 10px;
	background-color: darkgoldenrod;
	margin: auto;
}

.hanging-man {
	width: 48.5%;
	height: 300px;
	margin: 0 auto;
}
#head {
	width: 45px;
	height: 40px;
	border-radius: 22.5px;
	background-color: tan;
	margin: auto;
}

.upper-body {
	margin: auto;
	width: 180px;
}

#mid-section {
	margin: auto;
	width: 10px;
	height: 80px;
	background-color: maroon;
	}

.lower-body {
	margin: auto;
	width: 30px;
}
#waist	{
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: royalblue;
}

#left-arm {
	float: left;
	height: 7px;
	width: 85px;
	background-color: maroon;
}

#right-arm {
	float: right;
	height: 7px;
	width: 85px;
	background-color: maroon;
}

#left-leg {
	float: left;
	height: 100px;
	width: 10px;
	background-color: royalblue;
}

#right-leg {
	float: right;
	height: 100px;
	width: 10px;
	background-color: royalblue;
}

