* {
	box-sizing: border-box;
}


body{
	background-color: dimgray;
	font-family: 'Rye', cursive;
	color: $primary-color;
	font-size: 8px;
}

.header {
	margin: 1.25em 0;
	color: $primary-color;

	h1 {
		margin: 0;
		font-size: 6em;
		text-align: center;
	}
}

.main-footer {
	float: left;
	width: 100%;
	padding: 1em 0;
	text-align: center;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}