#title-banner {
	height: 100px;
}

#game-over {
	font-size: 24px;
	text-align: center;
}

.winner {
	color: green;
}

.loser {
	color: red;
}

h1 {
	font-size: 6em;
	text-align: center;
}

p {
	margin: 20px;
	font-size: 1.5em;
}

#letterInput {
	font-size: 1.5em;
	width: 120px;
	margin: 0 auto;
}

input {
	margin: auto;
}

button {
	margin: auto; 
}

.board {
	height: 400px;
	overflow: auto;
}

.score {
	height: 400px;
	width: 46.5%;
	float: left;
}

.person {
	height: 400px;
	width: 46.5%;
	float: right;
}

.display {
	height: 280px;
}

.word {
	width: 80%;
	margin: auto;
	text-align: center;
	border: 4px solid black;
	border-radius: 10px;
}

.letter {
	font-size: 96px;
	margin: 0 5px;
}

.gallows-box {
	height: 380px;
	width: 50%;
	margin: auto;
}

#bottom {
	height: 20px;
	width: 50%;
	background-color: black;
	float: left;
}

#post {
	height: 380px;
	width: 10px;
	float: left;
	background-color: black;
}

#top {
	height: 10px;
	width: 48.5%;
	float: left;
	background-color: black;
}

#rope {
	height: 40px;
	width: 10px;
	background-color: tan;
	margin: auto;
}

.hanging-man {
	width: 332px;
	height: 300px;
	text-align: center;
}
#head {
	width: 45px;
	height: 40px;
	border-radius: 22.5px;
	background-color: black;
	margin: auto;
}

.upper-body {
	margin: auto;
	width: 180px;
}

#mid-section {
	margin: auto;
	width: 10px;
	height: 80px;
	background-color: black;
	}

.lower-body {
	margin: auto;
	width: 30px;
}
#waist	{
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: black;
}

#left-arm {
	float: left;
	height: 7px;
	width: 85px;
	background-color: black;
}

#right-arm {
	float: right;
	height: 7px;
	width: 85px;
	background-color: black;
}

#left-leg {
	float: left;
	height: 100px;
	width: 10px;
	background-color: black;
}

#right-leg {
	float: right;
	height: 100px;
	width: 10px;
	background-color: black;
}

